* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Fjalla One', sans-serif;
    user-select: none
}

html {
    height: 100%;
    width: 100%;
}

.navbar {
    background-color: transparent;
    display: flex;
    position: absolute;
    letter-spacing: 3px;
    font-size: 1.1rem;
    justify-content: space-between;
    padding: 0.8rem;
    width: 100%;
    text-align: center;
}

.navbar-nav a {
    margin-right: 1rem;
    color: white;
    letter-spacing: 5px;
}

.navbar-nav a:hover {
    margin-right: 1rem;
    color: rgb(140, 219, 255) !important;
    text-decoration: overline;
}

.navbar-nav a:visited {
    color: white;
}

.collapse {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
    text-align: end;
}

.navbar-toggler {
    background-color: white;
    opacity: 50%;
}

/* .logo,
nav ul li a {
    text-decoration: none;
    color: white;
}
nav ul {
    display: flex;
    align-items: center;
}

nav ul li a {
    margin-right: 2rem;
} */

.logo,
nav ul li a {
    color: white;
    user-select: none
}

.logo {
    margin-left: 2rem;
}

.logo img {
    width: 15rem;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    position: absolute;
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

video {
    filter: brightness(80%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    color: #ddddee;
    padding-bottom: 4rem;
    text-align: center;
    letter-spacing: 1.2rem;
    user-select: none;
    font-size: 2rem;
}

.jp {
    font-size: 7rem;
    padding-left: 4.5rem;
}

.iframe {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 1.3rem;
    margin-right: 1rem;
}

.iframe iframe {
    margin-right: 1rem;
    width: 20rem;
    height: 8rem;
    border-radius: 4px;
}

.qr {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 1.3rem;
    margin-left: 3rem;
}

.qr img {
    width: 8rem;
}

.video-gallery {
    height: 57vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.carousel {
    height: 60%;
    width: 50%;
}

.carousel-inner,
.carousel-item {
    height: 100%;
    overflow: hidden;
}

.carousel-item iframe {
    max-height: 100%;
    /* Set max-height to 100% to allow responsive resizing */
    width: 100%;
    height: 100%;
    border: 3px solid;
}

.parallax {
    background-color: rgb(21, 21, 22);
    background-image: url(./assets/map.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.story {
    height: 100vh;
    display: flex;
    justify-content: center;
}


.story-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin-left: 50px;
}

.story-container img {
    width: 500px
}

.story-container h2 {
    border-bottom: 5px solid black;
    margin-bottom: 3rem;
    font-size: 2rem;
}

.story-container .char-img-sm {
    display: none;
}

.intro {
    font-size: 2.3rem;
    font-style: italic;
    word-spacing: 2px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.story-container p {
    word-spacing: 3px;
}


/* Existing CSS */
.characters {
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 100vh;
}

.char-card {
    max-width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.char-card img {
    max-width: 100%;
    max-height: 50%;
    object-fit: contain;
}

.char-card h3 {
    font-size: 20px;
    color: white;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 30px;
}

.char-card p {
    font-size: 16px;
    line-height: 1.5;
    color: rgb(168, 168, 168);
}


.char-card img:hover {
    transform: scale(1.1);
}



.gallery {
    height: 100vh;
    align-items: center;
    color: white;
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 400px);
    grid-template-rows: repeat(2, 400px);
}

.grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-4 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-6 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

footer {
    height: 10vh;
    background-color: rgb(21, 21, 22);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-image: url(/assets/map.png);
}

footer i {
    color: white;
    font-size: 2rem;
}

/* Mqs */
/* Mqs */
/* Mqs */
/* Mqs */
/* Mqs */
/* Mqs */

/* Tablet */
@media (min-width: 576px) and (max-width: 992px) {
    * {
        overflow-x: hidden;
    }

    .qr {
        display: none;
    }

    .iframe {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 2rem 0px;
    }

    .navbar-nav a {
        margin: 0;
    }

    .title {
        font-size: 20px;
    }

    h1 {
        font-size: 1.7rem;
    }

    .jp {
        font-size: 5rem;
    }

    .story {
        display: flex;
        align-items: center;
    }

    .story h2 {
        overflow-y: hidden;
    }

    .story-container {
        display: block;
        /* margin: 0px 20px 0px 30px; */
        margin: 0px;
        width: 80%;
    }

    .story-container .text {
        margin-bottom: 10px;
        /* Adjust the space between text and image for smaller screens */
    }

    .story-container .char-img {
        display: none;
        /* Hide the large image */
    }

    .story-container .char-img-sm {
        display: block;
        text-align: center;
        /* Display the small image on smaller screens */
    }

    .story-container img {
        width: 80%;
        height: auto;
    }

    .story-container h2 {
        margin-bottom: 2rem;
        text-align: center;
    }

    .intro {
        font-size: 2rem;
        letter-spacing: 1px;
        text-align: center;
    }
}



/* tablet */

/* mobile */
@media (max-width: 576px) {

    .story {
        display: flex;
        align-items: center;
    }

    .story h2 {
        overflow-y: hidden;
    }

    .story-container {
        display: block;
        /* margin: 0px 20px 0px 30px; */
        margin: 0px;
        width: 80%;
    }

    .story-container .text {
        margin-bottom: 10px;
        /* Adjust the space between text and image for smaller screens */
    }

    .story-container .char-img {
        display: none;
        /* Hide the large image */
    }

    .story-container .char-img-sm {
        display: block;
        text-align: center;
        /* Display the small image on smaller screens */
    }

    .story-container img {
        width: 80%;
        height: auto;
    }

    .story-container h2 {
        margin-bottom: 2rem;
    }

    .text {
        text-align: center;
    }

    .intro {
        font-size: 2rem;
        letter-spacing: 1px;
        text-align: center;
    }

    .char-card p {
        max-height: 170px;
        overflow-y: auto;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(24, 24, 24);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(133, 166, 255);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(109, 137, 228)
}